<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/906e7028b4.js" crossorigin="anonymous"></script>
    <title>Registration Form</title>
</head>

<body>
    {{>navbar}}
    <form action="/login" method="post">
        <div id="login_details">
            <i class="fas fa-user"></i>
            <div class="login_input">
                <input type="email" name="email" value="" required placeholder="Email">
            </div>
            <div class="login_input">
                <input type="password" name="password" value="" required placeholder="Password">
            </div>
            <input type="submit" value="Sign In" id="signin_button">
        </div>
    </form>
    <h2 id="login-page-error">{{loginerrormessage}}</h2>
    <a href="/register" id="login_account_creation">Create an account</a>

</body>

</html>