<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Registration Form</title>
</head>

<body>

    <div class="success">
        <h1>{{message}} Successful</h1>
        <a href="/register">Home</a>
    </div>
</body>

</html>